@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap");
.page {
  background: linear-gradient(-45deg, #93b7e0, #90ced3, #a0d8fd, #95fbff);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}
.title {
  padding-top: 10vh;
  font-size: 20px;
  text-align: center;
  font-family: "Noto Sans TC", sans-serif !important;
}

#a {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}
#b {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 26px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  html {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
  }
}

.blog_post {
  position: relative;
  padding: 4rem 2rem 4rem 2rem;
  background: #fff;
  max-width: 350px;
  border-radius: 10px;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.blog_h4 {
  margin: 0 0 0.5rem 0;
  color: #999;
  font-size: 1.25rem;
}

.blog_h1 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #333;
}
.blog_h2 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  letter-spacing: 0.5px;
  color: rgb(116, 111, 111);
}
.blog_p {
  margin: 0 0 4.5rem 2rem;
  font-size: 1.5rem;
  color: #333;
}

.btn_primary {
  border-top: 10px;
  outline: none;
  background: linear-gradient(90deg, #66cfff, #6c7fca);
  float: right;

  margin-right: 2%;

  padding: 1.5rem 2rem;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  box-shadow: 1px 10px 2rem rgba(25, 68, 124, 0.5);
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.btn_primary:hover {
  box-shadow: 0px 5px 1rem rgba(94, 164, 255, 0.5);
}
